package {{apiPackage}};

import elemental2.dom.RequestInit;
import elemental2.dom.Response;
import elemental2.promise.Promise;


public interface ElementalClient {

  String encodeURIComponent(Object component);

  String stringify(Object object);

  Promise<Response> fetch(String url, RequestInit init);

}
