{{#isFormParam}}{{^isFile}}/* @FormParam(value = "{{baseName}}") */ {{{dataType}}} {{paramName}}{{/isFile}}{{#isFile}}/* @FormParam(value = "{{baseName}}") */ String {{paramName}}InputStream{{/isFile}}{{/isFormParam}}