<?xml version="1.0" encoding="UTF-8"?>
<module>

    <inherits name="com.google.gwt.user.User" />
    <inherits name="elemental2.dom.Dom"/>

    <!--
    <source path="<path>" />
    <public path="<path>/public" />

    <entry-point class="{{groupId}}.{{#lambda.camelCase}}{{artifactId}}{{/lambda.camelCase}}" />
    -->

</module>
