<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">
  <modelVersion>4.0.0</modelVersion>
  <groupId>{{groupId}}</groupId>
  <artifactId>{{artifactId}}</artifactId>
  <packaging>gwt-lib</packaging>
  <name>{{artifactId}}</name>
  <version>{{artifactVersion}}</version>

{{#parentOverridden}}
  <parent>
    <groupId>{{parentGroupId}}</groupId>
    <artifactId>{{parentArtifactId}}</artifactId>
    <version>{{parentVersion}}</version>
  </parent>
{{/parentOverridden}}

  <build>
    <sourceDirectory>src/main/java</sourceDirectory>
    <plugins>
      <plugin>
        <groupId>org.codehaus.mojo</groupId>
        <artifactId>build-helper-maven-plugin</artifactId>
        <version>1.9.1</version>
        <executions>
          <execution>
            <id>add-source</id>
            <phase>generate-sources</phase>
            <goals>
              <goal>add-source</goal>
            </goals>
            <configuration>
              <sources>
                <source>src/gen/java</source>
              </sources>
            </configuration>
          </execution>
        </executions>
      </plugin>
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-jar-plugin</artifactId>
        <version>2.2</version>
      </plugin>
        <plugin>
            <groupId>net.ltgt.gwt.maven</groupId>
            <artifactId>gwt-maven-plugin</artifactId>
            <version>1.0.1</version>
            <extensions>true</extensions>
            <configuration>
                <moduleName>{{groupId}}.{{#lambda.camelCase}}{{artifactId}}{{/lambda.camelCase}}</moduleName>
                <moduleShortName>{{#lambda.camelCase}}{{artifactId}}{{/lambda.camelCase}}</moduleShortName>
                <sourceLevel>${gwt.compiler.source}</sourceLevel>
                <failOnError>true</failOnError>
                <!-- Pickup the compile dependencies -->
                <classpathScope>compile+runtime</classpathScope>
                <!-- Use surefire arguments to record code coverage -->
                <argLine>${surefireArgLine}</argLine>
                <!-- Define which test classes should be included when running the maven test goal -->
                <!-- See https://tbroyer.github.io/gwt-maven-plugin/test-mojo.html#includes -->
                <includes>
                    <include>**/*Test.java</include>
                </includes>
            </configuration>
        </plugin>
    </plugins>
  </build>
  <dependencies>
    <dependency>
      <groupId>javax.annotation</groupId>
      <artifactId>javax.annotation-api</artifactId>
      <version>${javax.annotation-api-version}</version>
    </dependency>
    <!-- @Nullable annotation -->
    <dependency>
        <groupId>com.google.code.findbugs</groupId>
        <artifactId>jsr305</artifactId>
        <version>3.0.2</version>
    </dependency>
    <dependency>
      <groupId>com.google.elemental2</groupId>
      <artifactId>elemental2-dom</artifactId>
      <version>${elemental-version}</version>
      <type>gwt-lib</type>
    </dependency>
    <dependency>
      <groupId>com.google.gwt</groupId>
      <artifactId>gwt-dev</artifactId>
      <version>${gwt-version}</version>
      <scope>provided</scope>
    </dependency>
    <dependency>
      <groupId>com.google.gwt</groupId>
      <artifactId>gwt-user</artifactId>
      <version>${gwt-version}</version>
      <scope>provided</scope>
    </dependency>
    <dependency>
      <groupId>junit</groupId>
      <artifactId>junit</artifactId>
      <version>${junit-version}</version>
      <scope>test</scope>
    </dependency>
  </dependencies>
  <properties>
    <java.version>1.8</java.version>
    <maven.compiler.source>${java.version}</maven.compiler.source>
    <maven.compiler.target>${java.version}</maven.compiler.target>
    <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
    <gwt-version>2.9.0</gwt-version>
    <elemental-version>1.1.0</elemental-version>
    <javax.annotation-api-version>1.3.2</javax.annotation-api-version>
    <junit-version>4.13.2</junit-version>
  </properties>
</project>
